@import '~vuetify/src/stylus/settings/_variables'
@import '~vuetify/src/stylus/settings/_colors'
 
$material-light.background = #E1E4F1
 
//@import '~vuetify/src/stylus/main'
// Or for a-la-carte:
@import '~vuetify/src/stylus/app'
@import '~vuetify/src/stylus/main'